:root{
    --background: #f6f6f6;
    --transparent: rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'Norse Bold';
    src: url('../fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: var(--background);
    font-family: "Roboto", sans-serif;
}

.layout{
    display: flex;
    min-height: 100vh;
}

.image-pane{
    flex: 0 0 40%;
    background-image: url(../images/green-leaf.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.brand-bar{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--transparent);
    width: 100%;
    padding: 1rem;
    text-align: center;
    
}

.brand-wordmark{
    font-family: 'Norse Bold', serif;
    font-size: 6rem;
    color: #fff;
    letter-spacing: 0.1rem;
    display: inline-flex;
    gap: 1rem;
}

.logo-icon{
    height: 6rem;
    width: auto;
}

.image-footer{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8rem;
    color: #fff;
    padding: 0.3rem 0;
    border-radius: 4px;
}

.image-footer a {
  color: #fff;
  text-decoration: underline;
}

.content{
    flex: 1;
}
.intro{
    margin: 10rem 20rem 2rem 5rem;
}

.cta{
    margin: 2rem 0 2rem 0;
}

.card {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card-title {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #333;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columns */
  gap: 1.5rem 2rem; /* row-gap and column-gap */
}

.field {
  display: flex;
  flex-direction: column; /* label on top, input under */
}

.field label {
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.field input {
  padding: 0.6rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  font-size: 1rem;
}
